.nav{
    grid-area: n;
    /*background-color: burlywood;*/
    border-right: 1px solid #eaeaee;
}
.item {
    /*font-weight: bold;*/
    font-size: 24px;
    padding: 7px;
}
.item:hover{
    background-color: #F1F3F4;
    border-radius: 5px;
}
.item a{
    color: #585757;
    text-decoration: none;
}
.item a.activeLink{
    color: #2A41E8;
}
